body {
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
header {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #ffffff;
}
footer {
  position: absolute;
  width: 1600px;
  left: 0px;
  top: 2097px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}
.footer-logo {
  padding-left: 250px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-logo-color {
  color: #2196f3;
}

.address-link {
  padding-left: 215px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
}
.footer-contacts {
  padding-left: 215px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.logo {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  bottom: 25px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #212121;
}
.logo-color {
  color: #2196f3;
}
.navbar {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav-links {
  padding-top: 20px;
  position: absolute;
  width: 294px;
  height: 16px;
  left: 453px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav-link {
  color: #212121;
}
.nav-contacts {
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 24px;
}
.email-link {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
  color: #757575;
}
.phone-link {
  position: absolute;
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 32px;
  color: #757575;
}
.layout {
}
.primary-section {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;

  background: #2f303a;
}
.main-header {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  padding-top: 200px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.order-btn {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 440px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.order-btn-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}
.advantages-section {
  position: absolute;
  width: 1170px;
  height: 101px;
  left: 215px;
  top: 774px;
}
.hidden-title {
  visibility: hidden;
}
.advantages-list {
  display: flex;
  flex-direction: row;
}
.advantage {
  width: 270px;
  height: 75px;
}
.advantages-subtitle {
  top: 774px;
  height: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.advantages-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
.our-work-section {
  position: absolute;
  width: 1170px;
  height: 386px;
  left: 215px;
  top: 969px;
}
.section-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.image-box {
  left: 215px;
  top: 1061px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.our-work-pics {
  padding: 15px;
}
.our-team-section {
  position: absolute;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;

  background: #f5f4fa;
}

.team-list {
  position: absolute;
  width: 1170px;
  height: 368px;
  left: 215px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.team-member {
  width: 270px;
  height: 368px;
  top: 1635px;

  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-pic {
  top: 1635px;
  border-radius: 0px;
}
.section-subtitle {
  height: 19px;
  top: 1925px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.description {
  height: 19px;
  top: 1954px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}
.filter-section {
  position: absolute;
  width: 1170px;
  height: 1360px;
  left: 215px;
  top: 174px;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.section-hidden-title {
  visibility: hidden;
}
.section-everything {
  position: absolute;
  width: 1170px;
  height: 1360px;
  left: 215px;
  top: 174px;
}
.items-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.box {
  width: 370px;
  height: 404px;
  padding: 15px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.box-title {
  width: 322px;
  height: 36px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;
}
.box-description {
  width: 322px;
  height: 30px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: #757575;
}
.section-websites {
}
.section-apps {
}
.section-design {
}
.section-marketing {
}
.portfolio-footer {
  position: absolute;
  width: 1600px;
  left: 0px;
  top: 1628px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}
